{% extends "admin/layout_dashboard.html.twig" %}
{% set title = 'New Image'|trans ~ ' - ' ~ item.name %}
{% set active = 'images' %}

{% block css %}
    {{ parent() }}
    <link href="/assets/css/file-input-bootstrap3.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-6">
            <h2>{{ title }}</h2>

            <form action="{{ path('admin_image_save') }}" method="post" name="imageForm" enctype='multipart/form-data'>
                <input type="hidden" name="itemId" value="{{ item.id }}">

                <div class="form-group">
                    <label for="imageFile">{{ 'Select file'|trans }}</label>
                    <input class="form-control" type="file" name="imageFile">
                </div>

                <div class="form-group">
                    <label for="comments">{{ 'Comments'|trans }}</label>
                    <input class="form-control" type="text" name="comments">
                </div>

                <div class="form-group">
                    <label for="mediumId">{{ 'Medium'|trans }}</label>
                    <select class="form-control" name="mediumId">
                        <option value="">{{ 'Select medium'|trans }}</option>
                        {% for medium in mediums %}
                            <option value="{{ medium.id }}"{% if image.medium.id is defined and image.medium.id == medium.id %}
                            selected{% endif %}>{{ medium.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label for="photographerId">{{ 'Photographer'|trans }}</label>
                    <select class="form-control" name="photographerId">
                        <option value="">{{ 'Select a photographer'|trans }}</option>
                        {% for photographer in photographers %}
                            <option value="{{ photographer.id }}"{% if image.photographer.id is defined and
                                image.photographer.id == photographer.id %} selected{% endif %}>{{ photographer.firstName }}
                                {{ photographer.lastName }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label for="location">{{ 'Location'|trans }}</label>
                    <input class="form-control" type="text" name="location">
                </div>

                <div class="form-group">
                    <label for="conservation">{{ 'Conservation'|trans }}</label>
                    <input class="form-control" type="text" name="conservation">
                </div>

                <button type="submit" class="btn btn-primary">{{ 'Save'|trans }}</button>
                <button type="reset" class="btn btn-danger">{{ 'Cancel'|trans }}</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="/assets/js/file-input-bootstrap3.js"></script>
{% endblock %}