{% extends "admin/layout_dashboard.html.twig" %}
{% set active = 'item' %}
{% set title = 'Items List'|trans %}

{% block content %}
    <div class="row">
        <div class="col">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                <h3>{{ title }}</h3>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group mr-2">
                        <button class="btn btn-sm btn-outline-secondary"><a href="{{ path('admin_item_add') }}"><span
                                        data-feather="plus-circle"></span> {{ 'Item Add'|trans }}</a></button>
                        <button class="btn btn-sm btn-outline-secondary">Export</button>
                    </div>
                    <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                        <span data-feather="calendar"></span>
                        This week
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 table-responsive">
            <table id="datatable" class="table table-striped">
                <thead>
                <tr>
                    <th>{{ 'ID'|trans }}</th>
                    <th>{{ 'Name'|trans }}</th>
                    <th>{{ 'Comments'|trans }}</th>
                    <th>{{ 'Locality'|trans }}</th>
                    <th>{{ 'Province'|trans }}</th>
                    <th>{{ 'Created at'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for item in items %}
                    <tr>
                        <td><a href="{{ path('admin_item_edit', {'id': item.id}) }}"
                               title="{{ 'Item Edit'|trans }}">{{ item.id }}</a></td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.comments }}</td>
                        <td>{{ item.locality }}</td>
                        <td>{{ item.province }}</td>
                        <td>{{ item.createdAt|date('d/m/Y') }}</td>
                        <td><a href="{{ path('admin_item_edit', {'id': item.id}) }}"
                               title="{{ 'Item Edit'|trans }}"><i
                                        class="fa fa-pencil"></i></a>
                            · <a href="{{ path('admin_item_delete', {'id':item.id}) }}"
                                 title="{{ 'Delete Item'|trans }}"><i
                                        class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">{{ 'No items yet'|trans }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div><!-- .col -->
    </div><!-- .row -->
{% endblock %}