{% extends "admin/layout_dashboard.html.twig" %}
{% set active = 'item' %}
{% set title = 'Item Edit'|trans %}

{% block content %}
    <div class="row">
        <div class="col-lg-6">
            <h2>{{ title }}</h2>

            <form action="{{ path('admin_item_save') }}" method="post" style="margin-top: 20px;">
                <input type="hidden" name="id" value="{{ item.id }}">

                <div class="form-group">
                    <label for="name">{{ 'Name'|trans }}</label>
                    <input type="text" class="form-control" name="name" value="{{ item.name }}">
                </div>

                <div class="form-group">
                    <label for="comments">{{ 'Comments'|trans }}</label>
                    <input type="text" class="form-control" name="comments" value="{{ item.comments }}">
                </div>

                <div class="form-group">
                    <label for="locality">{{ 'Locality'|trans }}</label>
                    <input type="text" class="form-control" name="locality" value="{{ item.locality }}">
                </div>

                <div class="form-group">
                    <label for="province">{{ 'Province'|trans }}</label>
                    <input type="text" class="form-control" name="province" value="{{ item.province }}">
                </div>

                <div class="form-group">
                    <label for="country_id">{{ 'Country'|trans }}</label>
                    <select class="form-control" name="country_id">
                        <option value="">{{ 'Select a country'|trans }}</option>
                        {% for country in countries %}
                            <option value="{{ country.id }}"{% if item.country.id is defined and
                                item.country.id == country.id %} selected{% endif %}>{{ country.nameEs }}</option>
                        {% endfor %}
                    </select>
                </div>

                <hr>
                <button type="submit" class="btn btn-primary">{{ 'Save'|trans }}</button>
                <button type="reset" class="btn btn-danger pull-right">{{ 'Cancel'|trans }}</button>

            </form>
        </div>
        <div class="col-lg-6">
            <table id="datatable" class="table table-striped">
                <thead>
                <tr>
                    <th>{{ 'Image'|trans }}</th>
                    <th>{{ 'Medium'|trans }}</th>
                    <th>{{ 'Photographer'|trans }}</th>
                    <th>{{ 'Actions'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for image in item.images %}
                    <tr>
                        <td><img src="__DIR__ . '/../../var/upload/' . $itemId . '/'{{ image.fileName }}" alt=""
                                 height="50">{{ image.fileName }}</td>
                        <td>{{ image.medium.name }}</td>
                        <td>{{ image.author.firstName }} {{ image.author.lastName }}</td>
                        <td><a href="{{ path('admin_image_delete', {'id': image.id}) }}"
                               title="{{ 'Image Delete'|trans }}"><i class="fa fa-trash"></i></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <form class="form" method="post" enctype="multipart/form-data" action="{{ path('admin_image_save') }}">
                <input type="hidden" name="itemId" value="{{ item.id }}">
                <div class="form-group">
                    <label for="comments">{{ 'Comments' }}</label>
                    <textarea class="form-control" name="comments"></textarea>
                </div>
                <div class="form-group">
                    <label for="authorId">{{ 'Photographer'|trans }}</label>
                    <select class="form-control" name="authorId">
                        {% for author in authors %}
                            <option value="{{ author.id }}">{{ author.lastName }}, {{ author.firstName }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="mediumId">{{ 'Medium'|trans }}</label>
                    <select class="form-control" name="mediumId">
                        {% for medium in mediums %}
                            <option value="{{ medium.id }}">{{ medium.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="imageFile">{{ 'Select file'|trans }}</label>
                    <input class="form-control" type="file" name="imageFile">
                </div>
                <button type="submit">{{ 'Image Add'|trans }}</button>
            </form>
        </div>
    </div>
{% endblock %}