{% extends "layout_admin.html.twig" %}
{% set active = 'authors' %}
{% set title = 'Authors List'|trans %}

{% block content %}
    <div class="row">
        <div class="col-lg-6">
            <h2>
                {{ title }}
                <a class="btn btn-primary pull-right" role="button" href="{{ path('author_add') }}"><i
                            class="fa fa-plus-circle"></i> {{ 'New'|trans }}</a>
            </h2>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>{{ 'Name'|trans }}</th>
                </tr>
                </thead>
                {% for author in authors %}
                    <tr>
                        <td>
                            <a href="{{ path('author_edit', {'id': author.id}) }}">{{ author.firstName }} {{ author.lastName }}</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="2">{{ 'No authors defined yet.'|trans }}</td>
                    </tr>
                {% endfor %}
            </table>

            {% include "pagination.html.twig" %}
        </div>
    </div>

{% endblock %}