{% extends "admin/layout_dashboard.html.twig" %}
{% set title = 'New Author'|trans %}
{% set active = 'authors' %}

{% block content %}
    <div class="row">
        <div class="col-lg-6">
            <h2>{{ title }}</h2>
            <form action="{{ path('admin_author_save') }}" method="post">
                <div class="form-group">
                    <label for="first_name">{{ 'First Name'|trans }}</label>
                    <input class="form-control" type="text" name="first_name">
                </div>
                <div class="form-group">
                    <label for="last_name">{{ 'Last Name'|trans }}</label>
                    <input class="form-control" type="text" name="last_name">
                </div>
                <div class="form-group">
                    <label for="country_id">{{ 'Country'|trans }}</label>
                    <select class="form-control" name="country_id">
                        <option value="">{{ 'Select a country'|trans }}</option>
                        {% for country in countries %}
                            <option value="{{ country.id }}"{% if author.country.id is defined and
                            author.country.id == country.id %} selected{% endif %}>{{ country.nameEs }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="job_id">{{ 'Job'|trans }}</label>
                    <select class="form-control" name="job_id">
                        <option value="">{{ 'Select a job'|trans }}</option>
                        {% for job in jobs %}
                            <option value="{{ job.id }}"{% if author.job.id is defined and
                            author.job.id == job.id %} selected{% endif %}>{{ job.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="birth_date">{{ 'Birth Date'|trans }}</label>
                    <input class="form-control" type="text" name="birth_date">
                </div>
                <div class="form-group">
                    <label for="death_date">{{ 'Death Date'|trans }}</label>
                    <input class="form-control" type="text" name="death_date">
                </div>
                <div class="form-group">
                    <label for="comments">{{ 'Comments'|trans }}</label>
                    <textarea class="form-control" name="comments"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">{{ 'Save'|trans }}</button>
                <button type="reset" class="btn btn-danger">{{ 'Cancel'|trans }}</button>
            </form>
        </div>
    </div>
{% endblock %}